<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>mn.frd.rexcape</string>
	<key>connections</key>
	<dict>
		<key>343311DD-86AD-4A32-8D07-A664C1C6F47A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1E880D6A-1FBB-40E8-8ED6-DEBFD8EFAE11</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E4BE5335-B0BF-4E5B-BA49-4FA5AD68EA3A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jonas Friedmann</string>
	<key>description</key>
	<string>RegEx compatible string escper</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Rexcape</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Escaped string:</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>1E880D6A-1FBB-40E8-8ED6-DEBFD8EFAE11</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>rexcape</string>
				<key>script</key>
				<string>QUERY="{query}"

echo "&lt;?xml version=\"1.0\"?&gt;"
echo "&lt;items&gt;"

if [[ ! -z $QUERY ]]
then
	RESULT=$(python ./rexcape.py "$QUERY")
	echo "&lt;item uid=\"result\" arg=\"$RESULT\"&gt;&lt;title&gt;$RESULT&lt;/title&gt;&lt;subtitle&gt;&lt;/subtitle&gt;&lt;icon&gt;icon.png&lt;/icon&gt;&lt;/item&gt;"
else
	echo "&lt;item uid=\"\" arg=\"waiting\"&gt;&lt;title&gt;Waiting for string...&lt;/title&gt;&lt;subtitle&gt;&lt;/subtitle&gt;&lt;icon&gt;icon.png&lt;/icon&gt;&lt;/item&gt;"
fi

echo "&lt;/items&gt;"
</string>
				<key>subtext</key>
				<string>String to escape: "{query}"</string>
				<key>title</key>
				<string>Type in the string you want to escape in a RegEx compatible way</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>343311DD-86AD-4A32-8D07-A664C1C6F47A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>E4BE5335-B0BF-4E5B-BA49-4FA5AD68EA3A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1E880D6A-1FBB-40E8-8ED6-DEBFD8EFAE11</key>
		<dict>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>343311DD-86AD-4A32-8D07-A664C1C6F47A</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>E4BE5335-B0BF-4E5B-BA49-4FA5AD68EA3A</key>
		<dict>
			<key>ypos</key>
			<real>190</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://frd.mn</string>
</dict>
</plist>
